.body_about_us{
    background-color: #FBEEC1;
}

.bg_for_abo{
    height: 60dvh;
    z-index: 10;
    position: absolute; 
    right: 0;          
    bottom: 0;         
}

.section_about_us{
    color: #8D8741;
    font-size: 25px;
    border: 2px solid #8D8741;
    border-radius: 20px;
    padding: 10dvh;
    margin: 5dvh;
}

.h1_about_us{
    background: linear-gradient(to bottom, #DAAD86, #BC986A);
    border-radius: 50px;
    width: 30%;
    padding: 3dvh;
    font-size: 35px;
    color: #FBEEC1;
}